.feedback
  padding-top: 86px
  padding-bottom: 90px
  background: url("../img/feedback/feedback.jpg") no-repeat center left 100%
  background-size: contain
  position: relative
  z-index: 1
  &:before
    content: ''
    left: 0
    top: 0
    width: 55%
    height: 100%
    background-color: #ffffff
    position: absolute
    z-index: -1
.form
  max-width: 575px
  &__title
    margin-bottom: 35px
    font-size: 24px
    line-height: 35px
    +bold
  &__subtitle
    margin-bottom: 42px
    font-size: 16px
    line-height: 35px
  &__inputs
    display: flex
    flex-direction: column
    align-items: center
  &-button
    margin-bottom: 25px
    width: 100%
    font-size: 16px
    padding: 26px
  &-call
    display: flex
    justify-content: space-between
    &_text
      margin-left: 2px
      width: 225px
      font-size: 15px
      line-height: 24px
    &_phone
      display: flex
      align-items: center
      &-text
        margin-right: 17px
        width: 191px
        font-size: 15px
        line-height: 24px
      &-number
        text-decoration: none
        font-size: 15px
        +bold
        color: $font-color
      &:before
        display: block
        content: ''
        background:
          image: url("../img/feedback/feedback-phone.png")
          repeat: no-repeat
          position: center
        margin-right: 21px
        margin-top: 2px
        width: 40px
        height: 40px
        border: 2px solid $phone-color
        border-radius: 50%
.test
  display: flex
  margin-bottom: 30px
  justify-content: space-between


