@media (max-width: 1450px)
  .main
    img
      transform: scale(1.2)
@media (max-width: 1200px)
  .container
    width: 970px
  .main
    img
      transform-origin: top left
      transform: scale(1.1)
      z-index: 2
      position: relative
  .feedback
    &:before
      width: 65%
  .modal
    &__block
      height: 630px
      &-container
        padding: 60px 0 50px 0
      &-info
        width: 500px
      &-feedback
        width: 470px
@media (max-width: 992px)
  .container
    width: 730px
  .main
    &-wrap 
      flex-direction: column
      margin: auto
    &-text 
      &__title
        text-align: center
    img  
      transform: none
  .feedback
    background: #ffffff
  .form
    margin: auto
  .modal
    &__block
      height: 580px
      &-container
        padding: 50px 0 50px 0
        width: 350px
      &-info
        width: 396px
        &_section
          &-text
            margin-left: 27px
            &_title
              height: 24px
              font-size: 15px
            &_prices
              margin-top: 10px
              font-size: 14px
          &-img
            max-height: 75px
        &_description
          margin-top: 32px
          &-list
            margin-top: 18px
            font-size: 13px
            line-height: 22px
      &-feedback
        width: 366px
        &_title
          margin-bottom: 20px
          line-height: 28px
        &_input
          width: 340px
          padding: 22px
        &_button
          margin-top: 0
          width: 340px
          padding: 22px
        &_call-text
          margin-top: 25px
        &_call-tel
          font-size: 22px
@media (max-width: 780px)
  .modal
    &__block
      overflow: auto
      flex-direction: column
      height: 1000px
      &-container
        padding: 50px 0 50px 0
        width: 350px
      &-info
        width: 296px
        &_section
          &-text
            margin-left: 27px
            &_title
              height: 24px
              font-size: 15px
            &_prices
              margin-top: 10px
              font-size: 14px
          &-img
            max-height: 75px
        &_description
          margin-top: 32px
          &-list
            margin-top: 18px
            font-size: 13px
            line-height: 22px
      &-feedback
        width: 266px
        &_title
          margin-bottom: 20px
          line-height: 28px
        &_input
          width: 340px
          padding: 22px
        &_button
          margin-top: 0
          width: 340px
          padding: 22px
        &_call-text
          margin-top: 25px
        &_call-tel
          font-size: 22px
@media (max-width: 768px)
  .header
    margin: auto
    width: 100%
  .container
    width: 570px
  .header-button_text-hide
    display: none
  .main
    &-text 
      margin-top: 40px
      &__title
        font-size: 35px
      &__add
        font-size: 18px
    &-advantages
      margin: auto
      margin-top: 20px
      &__item
        margin-bottom: 20px
    &-img 
      margin-top: 30px
  .form
    &__title, &__subtitle
      text-align: center
    &-button 
      width: 558px
  .feedback
    padding: 38px 0
  .input
    width: 262px
    padding: 20px 0 20px 27px
    border-radius: 10px
    border: 1px solid #dddddd
@media (max-width: 576px)
  .container
    width: 470px
  .header
    height: 67px
    &-container
      padding: 4px 0
    img 
      height: 60px
    &-text 
      &__contacts
        &_tel
          font-size: 16px
  .button
    padding: 14px 25px 14px 25px
  .main
    &-text
      margin: auto
      margin-top: 40px
      width: 400px
      &__title 
        font-size: 30px
        line-height: 30px
    &-advantages
      margin: auto
      margin-top: 25px
      &__item
        margin-bottom: 20px
    &-img
      margin-top: 30px
  .feedback
    padding: 40px 0
  .form
    &__title
      margin-bottom: 15px
      font-size: 19px
      line-height: 30px
    &__subtitle
      margin-bottom: 20px  
      font-size: 15px
    &-button 
      width: 100%
      margin-bottom: 15px
    &-call
      &_text
        width: 190px
        font-size: 13px
        line-height: 20px
      &_phone
        &-text
          margin-right: 0
          width: 180px
          font-size: 13px
          line-height: 20px
        &:before
          margin-right: 11px
          margin-top: 2px
          width: 33px
          height: 33px
  .input
    width: 218px
    margin-bottom: 22px
    padding: 15px 0 15px 25px
    border-radius: 7px
@media (max-width: 470px)
  .container
    width: 340px
  .header
    height: 50px
    &-container
      padding: 2px 0
    img 
      height: 45px
    &-text 
      &__contacts
        margin-right: 10px
        &_geo
          font-size: 9px
          margin-bottom: 0
        &_tel
          font-size: 10px
  .main
    &-text
      width: 100%
      &__title
        font-size: 20px
      &__add
        font-size: 15px
    &-advantages
      &__text
      font-size: 15px
  .form
    &-input_name
      margin-right: 0
    &-button 
      margin-bottom: 10px
      font-size: 15px
      padding: 18px 24px
    &-call 
      flex-direction: column
      text-align: center
      &_text
        margin: auto
        margin-bottom: 2px
        width: 250px
        font-size: 18px
        line-height: 20px
      &_phone
        &-text
          margin: auto
          width: 200px
          font-size: 15px
          line-height: 20px
        &-number
          font-size: 16px
        &:before
          display: none
  .input
    width: 338px
    padding: 17px 0
    &::-webkit-input-placeholder
      text-align: center
@media (max-width: 320px)
  .container
    width: 290px
  .header
    height: 50px
    &-container
      padding: 2px 0
    img 
      height: 45px
    &-text 
      &__contacts
        margin-right: 10px
        &_geo
          font-size: 10px
          margin-bottom: 0
        &_tel
          font-size: 10px
  .button
    padding: 9px 15px 9px 15px
    font-size: 9px
    border-radius: 7px
  .main
    &-text
      margin: auto
      margin-top: 20px
      width: 280px
      &__title 
        font-size: 23px
        line-height: 30px
      &__add
        margin-top: 15px
        font-size: 16px
    &-advantages
      margin: auto
      margin-top: 25px
      &__item
        margin-bottom: 20px
      &__text
        font-size: 12px
      &__img
        min-width: 34px
        height: 34px
        margin-right: 15px
    &-img
      margin-top: 30px
  .feedback
    padding: 22px 0
  .form
    &__title
      margin-bottom: 13px
      font-size: 15px
      line-height: 24px
      &-low
        text-transform: lowercase
    &__subtitle
      margin-bottom: 20px  
      font-size: 12px
      line-height: 20px
    &-button 
      margin-bottom: 15px
      font-size: 12px
    &-call 
      flex-direction: column
      text-align: center
      &_text
        width: 100%
        font-size: 11px
        line-height: 20px
      &_phone
        &-text
          margin: auto
          width: 150px
          font-size: 11px
          line-height: 20px
        &-number
          font-size: 14px
        &:before
          display: none
  .input
    margin-right: 0
    width: 287px
    padding: 6px 0
    margin-bottom: 10px
    border-radius: 7px
    &::-webkit-input-placeholder
      text-align: center
