@import "vars"
@import "mixins"
@import "interface"
@import "fonts"
@import "normalize"
@import "header"
@import "main"
@import "feedback"
@import "modal"
@import "portfolio"

*, *:after, *:before
  box-sizing: border-box
  &:focus
    outline: none
body
  font-family: "Museo Sans Light", sans-serif
  color: $font-color
  overflow-x: hidden
.container
  width: 1170px
  margin: auto  
img 
  max-width: 100%
h1
  margin: 0

.middle
  &-title
    text-align: center
    font-size: 30px
    +bold
    line-height: 45px
    
@import "media"